[package]
name = "termusic"
version = "0.6.0"
authors = ["tramhao <haoxinkui@gmail.com>"]
edition = "2021"
license = "MIT"
description = "Terminal Music Player written in Rust. Can download music from youtube(netease/migu/kugou) and then embed lyrics and album photos into mp3/m4a/flac/wav/ogg vorbis files. Need GStreamer installed to play the music."
repository = "https://github.com/tramhao/termusic"
homepage = "https://github.com/tramhao/termusic"
keywords = ["terminal", "tui","music","gstreamer","youtube"]
categories = ["command-line-interface","command-line-utilities", "multimedia::audio"]
readme = "README.md"

[[bin]]
name = "termusic"
path = "src/main.rs"


# See more keys and their definitions at https://doc.rust-lang.org/cargo/reference/manifest.html
[dependencies]
anyhow = "1.0"
base64 = "0.13"
byteorder = "1"
crossterm = "0.20"
dbus = {version="0.9",optional = true}
dbus-crossroads = { version="0.5",optional = true}
dirs-next = "2.0"
gstreamer = "0.17"
gstreamer-player = "0.17"
gstreamer-pbutils = "0.17"
hex = "0.4"
humantime = "2.1"
id3 = "0.6"
if_chain = "1"
image = "0.23"
lazy_static = "1.4"
lewton = "0.10"
libaes = "0.6"
log = "0.4"
md5 = "0.7"
metaflac = "0.2"
mp4ameta = "0.11"
num-bigint = "0.2"
ogg = "0.8"
pinyin = "0.8"
rand = "0.8"
regex = "1.5"
serde = { version = "1.0", features = ["derive"] }
serde_json = "1.0"
shellexpand = "2.1"
textwrap = "0.14"
toml = "0.5"
tuirealm = "1.0" 
tui-realm-stdlib = "1.0"
tui-realm-treeview = "1.0"
ureq = "2.2"
viuer = "0.5"
ytd-rs = "0.1"
wildmatch = "2.1"
walkdir = "2"

[features]
default = []
# left for debug
# default = ["mpris","cover"]
mpris = ["dbus","dbus-crossroads"]
cover = []

[dev-dependencies]
pretty_assertions = "0.7"

[profile.release]
